<%- include('header') -%>

<div>
    <%= question.question %>
</div>

<div>
    <%= question.answer %>
</div>

<div>
    <%= question.nbpoints %>
</div>

<div>
    <%= question.author %>

</div>

<%- include('footer') -%>
